#----------------------------------------
# Credentials
#----------------------------------------
#project_id = "my-gcp-project-id"

#----------------------------------------
# Prefix
#----------------------------------------
prefix = "sandbox-yoshi"

#----------------------------------------
# Location: regions & zones
#----------------------------------------
# https://cloud.google.com/about/locations
region = "europe-north2" # Stockholm, Sweden, Europe

#----------------------------------------
# Networking
#----------------------------------------
# CIDR or source IP range allowed for environment administration
# check https://whatismyipaddress.com/
admin_address_prefixes = ["43.21.0.0/16"]

#----------------------------------------
# Kubernetes
#----------------------------------------
# GKE version
# https://cloud.google.com/kubernetes-engine/docs/concepts/types-of-clusters#version-choices
# https://cloud.google.com/kubernetes-engine/docs/release-notes
#gke_cluster_version = "1.33"

# For Google Cloud machine types, see https://cloud.google.com/compute/docs/machine-types
#
# To know what is available in your zone, run:
#   gcloud compute machine-types list --filter="zone:( europe-north )" > machine-types.list
#
# Some small E2 machine types (recommended for most workloads), for testing and light workloads:
#
# NAME                         ZONE             CPUS  MEMORY_GB  DEPRECATED
# e2-micro                     europe-north2-c  2     1.00
# e2-small                     europe-north2-c  2     2.00
# e2-medium                    europe-north2-c  2     4.00 <-- too small for minimal Spotfire platform
# e2-standard-2                europe-north2-c  2     8.00 <-- recommended minimum for Spotfire platform
# e2-standard-4                europe-north2-c  4     16.00
# e2-standard-8                europe-north2-c  8     32.00
# e2-standard-16               europe-north2-c  16    64.00
# e2-standard-32               europe-north2-c  32    128.00

######## default pool (needs to be there when using the GKE provider) ########
# Google GKE number of working nodes (per availability zone)
# NOTE: With 3 zones, the total number of nodes will be x3
#gke_num_nodes_default_pool = 1 # 1=minimum required by GKE module
#gke_machine_type_default_pool = "e2-micro" # 2 CPUs 1GB
#gke_machine_type_default_pool = "e2-small" # 2 CPUs 2GB
#gke_machine_type_default_pool = "e2-medium" # 2 CPUs 4GB

######## extra pool (allows resizing without destroying the K8s cluster) ########
# Google GKE number of working nodes per availability zone
# NOTE: With 3 zones, the total number of nodes will be x3
gke_num_nodes_extra_pool = 1
gke_machine_type_extra_pool = "e2-standard-2" # 2 vCPUs 8GB

# NOTE: You can use a default pool with 1 node for small workloads and testing,
# and add an extra pool with more nodes and bigger machines for production workloads.
# Or you can just use the extra pool and keep a minimal default pool.
# This way you can resize the extra pool without affecting the default pool.

#----------------------------------------
# Container Registry
#----------------------------------------
# Whether to create the Google Cloud Artifact Registry
create_registry = true