# terraform directories
**/.terraform/*

# lock and state files
.terraform.lock*
.terraform.tfstate.*
terraform.tfstate*

# NOTE: Very useful to have a local custom terraform.tfvars to override defaults without adding it to git
terraform.tfvars

*.log

# workspaces
env/
