[jumphost_servers]
%{~ for index, jumphost_hostname in jumphost_hostnames }
${ jumphost_hostname } ansible_connection=ssh ansible_user=${jumphost_user} ansible_host=${ jumphost_pip_addresses[index] }
%{~ endfor }

[sfs_servers]
%{~ for index, sfs_hostname in sfs_hostnames }
${sfs_hostname} ansible_connection=ssh ansible_user=${sfs_user} ansible_host=${ sfs_ip_addresses[index] }
%{~ endfor }

[sfwp_servers]
%{~ for index, sfwp_hostname in sfwp_hostnames }
${sfwp_hostname} ansible_connection=ssh ansible_user=${sfwp_user} ansible_host=${ sfwp_ip_addresses[index] }
%{~ endfor }
