# NOTE: This is only an static hosts file example for usage with Ansible.
# We use Ansible dynamic host file with host_groups_gcp.yml and host_groups_of_groups.yml files,
# using the GCP tags together with the Ansible google.cloud collection.

[jumphost_servers]
sandbox-somo-jumphost ansible_host=34.105.246.37 ansible_connection=ssh ansible_user=spotfire

[sfs_servers]
sandbox-somo-sfs-0 ansible_connection=ssh ansible_user=spotfire
sandbox-somo-sfs-1 ansible_connection=ssh ansible_user=spotfire

[sfwp_servers]
sandbox-somo-sfwp-0 ansible_connection=ssh ansible_user=spotfire
sandbox-somo-sfwp-1 ansible_connection=ssh ansible_user=spotfire

