{
  "type": "service_account",
  "project_id": "my_project_id",
  "private_key_id": "0123456789abcdef0123456789abcdef01234567",
  "private_key": "-----BEGIN PRIVATE KEY-----\n0123456789abcdef0123456789abcdef01234567\n0123456789abcdef0123456789abcdef01234567\n-----END PRIVATE KEY-----\n",
  "client_email": "my-user@my_project_id.iam.gserviceaccount.com",
  "client_id": "0123456789abcdef01234",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/my_user%40my_project_id.iam.gserviceaccount.com"
}
