
# Spotfire DB
db_type: postgres
db_host: ${ db_server }.postgres.database.azure.com
db_port: 5432

# Spotfire DB Admin user and password
db_admin_user: '${ db_admin_user }@${ db_server }'
db_admin_password: '${ db_admin_password }'

# Spotfire Database name, username and password for the Spotfire database.
db_name: ${ db_name }
# NOTE: For Azure, we use the same user&password for the spotfiredb than for the dbserver
db_user: '${ db_admin_user }@${ db_server }'
db_password: '${ db_admin_password }'

# Spotfire Admin GUI user and password
spotfire_ui_admin_user: '${ ui_admin_user }'
spotfire_ui_admin_password: '${ ui_admin_password }'

# Spotfire Server credentials
tss_user: '${ tss_user }'
tss_password: '${ tss_password }'

# Web Player credentials
wp_user: '${ wp_user }'
wp_password: '${ wp_password }'