all:
  children:

    jumphost_servers:
      hosts:
%{~ for index,jumphost_hostname in jumphost_hostnames }
        ${jumphost_hostname}:
          host:               "${ jumphost_public_ips[index] }"
          ansible_connection: "ssh"
          ansible_user:       "${username}"
%{~ endfor }

    sfs_servers:
      hosts:
%{~ for index,sfs_hostname in sfs_hostnames }
        ${sfs_hostname}:
          ansible_connection: "ssh"
          ansible_user:       "${username}"
%{~ endfor }

    sfwp_servers:
      hosts:
%{~ for sfwp_hostname in sfwp_hostnames }
        ${sfwp_hostname}:
          ansible_connection: "ssh"
          ansible_user:       "${username}"
%{~ endfor }

    # Localhost provisioning
    local:
      hosts:
        localhost:
          ansible_connection: "local"
          ansible_user:       "azureadm"
