[jumphost_servers]
%{~ for index,jumphost_hostname in jumphost_hostnames }
${ jumphost_hostname } ansible_host=${ jumphost_public_ips[index] } ansible_connection=ssh ansible_user=${username}
%{~ endfor }

[sfs_servers]
%{~ for sfs_hostname in sfs_hostnames }
${sfs_hostname} ansible_connection=ssh ansible_user=${username}
%{~ endfor }

[sfwp_servers]
%{~ for sfwp_hostname in sfwp_hostnames }
${sfwp_hostname} ansible_connection=ssh ansible_user=${username}
%{~ endfor }
