#
# Infrastructure configuration
#

# Target environment (e.g. cloud provider)
target_environment: 'Azure'

# Spotfire Server version
spotfire_version: '${ spotfire_version }'

# Spotfire DB
db_type: postgres
db_host: ${ db_server }.postgres.database.azure.com
db_port: 5432

# Spotfire DB Admin user and password
#db_admin_user: '${ db_admin_user }@${ db_server }'
db_admin_user: '${ db_admin_user }'
db_admin_password: '${ db_admin_password }'

# Spotfire Database name, username and password for the Spotfire database.
db_name: ${ db_name }
# NOTE: For Azure, we use the same user&password for the spotfiredb than for the dbserver
#db_user: '${ db_admin_user }@${ db_server }'
db_user: '${ db_admin_user }'
db_password: '${ db_admin_password }'

# Spotfire Admin GUI user and password
spotfire_ui_admin_user: '${ ui_admin_user }'
spotfire_ui_admin_password: '${ ui_admin_password }'

# Jumphost credentials
jumphost_user: '${ jumphost_user }'
#jumphost_password: '${ jumphost_password }'
ssh_private_key_file: '${ ssh_priv_key_file }'

# Spotfire Server credentials
sfs_user: '${ sfs_user }'
#sfs_password: '${ sfs_password }'

# Web Player credentials
sfwp_user: '${ sfwp_user }'
#sfwp_password: '${ sfwp_password }'